<%- include('./partials/nav') %>
<h1>Category: <%= category %></h1>
<ul>
  <% filterMenu.forEach(function(item) { %>
    <li><%= item.name %> <br>
       <strong>Price:</strong> $<%= item.price %> <br> 
       <strong>Rating:</strong> <%= item.rating %> <br> 
       <strong>Details:</strong> <%= item.details %></li>
       <hr>
  <% }); %>
</ul>
</body>
</html>